@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spinner 1.5s linear infinite;
  margin-left: 5px;
}

.visually-hidden {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.tree-node {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tree-node:hover {
  background: rgb(234, 240, 255);
}

.tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.tree .tree-node--selected {
  background: rgb(213, 222, 249);
}

.arrow--open {
  transform: rotate(90deg);
}

.name {
  margin-left: 6px;
}
