[general]
version                 = "0.2.0"
time_zone                = "utc-8"

[network]
server_address          = "0.0.0.0"
postgres_port                 = 5432
http_port               = 23820
client_port                = 23817
connection_pool_size        = 128

[log]
log_filename            = "infinity.log"
log_dir                 = "/var/infinity/log"
log_to_stdout           = false
log_file_max_size           = "10GB"
log_file_rotate_count   = 10

# trace/info/warning/error/critical 5 log levels, default: info
log_level               = "info"

[storage]
data_dir                = "/var/infinity/data"

# periodically activates garbage collection:
# 0 means real-time,
# s means seconds, for example "60s", 60 seconds
# m means minutes, for example "60m", 60 minutes
# h means hours, for example "1h", 1 hour
cleanup_interval = "60s"
compact_interval = "120s"

# dump memory index entry when it reachs the capacity
mem_index_capacity       = 1048576

[buffer]
buffer_manager_size        = "4GB"
temp_dir                = "/var/infinity/tmp"

[wal]
wal_dir                 = "/var/infinity/wal"
full_checkpoint_interval      = "86400s"
delta_checkpoint_interval     = "60s"
# delta_checkpoint_threshold = 1000000000
wal_compact_threshold            = "1GB"

# flush_at_once: write and flush log each commit
# only_write: write log, OS control when to flush the log, default
# flush_per_second: logs are written after each commit and flushed to disk per second.
wal_flush                   = "only_write"

[resource]
resource_dir          = "/var/infinity/resource"
