[general]
version                 = "0.1.1"
timezone                = "utc-8"

[system]
# 0 means use all cpus
worker_cpu_limit        = 0
# 0 means use all memory
total_memory_size       = "8GB"
# memory limit per query
query_memory_limit      = 0
# query cpu limit per query
query_cpu_limit         = "4MB"

[network]
listen_address          = "0.0.0.0"
pg_port                 = 5432
http_port               = 23820
sdk_port                = 23817
connection_limit        = 128

[profiler]
enable                  = false
profile_record_capacity = 100

[log]
log_filename            = "infinity.log"
log_dir                 = "/var/infinity/log"
log_to_stdout           = false
log_max_size           = "10GB"
log_file_rotate_count   = 10

# trace/info/warning/error/critical 5 log levels, default: info
log_level               = "info"

[storage]
data_dir                = "/var/infinity/data"
default_row_size        = 8192
storage_capacity        = "64GB"

# periodically activates garbage collection:
# 0 means real-time,
# s means seconds, for example "60s", 60 seconds
# m means minutes, for example "60m", 60 minutes
# h means hours, for example "1h", 1 hour
cleanup_interval = "60s"

# storage ratio activates garbage collection:
# 0 means disable,
# 0.1 means, once the storage reach 10% storage capacity, GC is triggered.
garbage_collection_storage_ratio = 0.1

# dump memory index entry when it reachs the capacity
mem_index_capacity       = 1048576

[buffer]
buffer_manager_size        = "4GB"
temp_dir                = "/var/infinity/tmp"

[wal]
wal_dir                 = "/var/infinity/wal"
full_checkpoint_interval      = "86400s"
delta_checkpoint_interval     = "60s"
# delta_checkpoint_threshold = 1000000000
wal_compact_threshold            = "1GB"

# flush_at_once: write and flush log each commit
# only_write: write log, OS control when to flush the log, default
# flush_per_second: logs are written after each commit and flushed to disk per second.
flush_option                   = "only_write"

[resource]
dictionary_dir                = "/var/infinity/resource"
